body {
    background-image: url("unknown (5).png");
    height: 125vh;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: sans-serif;  
  }
  

header {  
    background-color: rgb(115, 215, 191);  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 20px 0 black;  
    }  


header * {  
      display: inline;  
      }  
      header li {  
      margin: 20px;  
      }  
      header li a {  
      color: blue;  
      text-decoration: none;  
      }  




.discord {
    padding: 15px 32px;
    display: inline-block;
    margin: 4px 2px;
    height: 30px;
    cursor: pointer;
  }

.github {
      padding: 15px 32px;
    display: inline-block;
    margin: 4px 2px;
    height: 30px;
    cursor: pointer;
  
}




h1 {
    color: #1c71d8;
    text-align: center;
  }
  
p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: #d92626;
  }

