
body {
    background-image: url("https://cdn.discordapp.com/attachments/980754440946593813/988076457274257448/unknown.png"); 
    height: 125vh;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: sans-serif; 
  }
  

header {  
    background-color: rgb(115, 215, 191);  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 45px;  /*<= this one*/
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 20px 0 black;  
    }  


header * {  
      display: inline;  
      }  
      header li {  
      margin: 20px;  
      }  
      header li a {  
      color: blue;  
      text-decoration: none;  
      } 



.discord {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;  
  display: inline-block;
  margin: 4px 2px; 
  }

.github {
    padding: 30px 32px;
    position: fixed;
    bottom: 0;
    right: 1px;
    left : 1px; 
    width: 60px;
    display: inline-block;
    margin: 4px 3px;
    cursor: pointer;
}


div.absolute {
  position: absolute;
  bottom: 10px;
  width: 50%;
  border: 3px solid #e01b24;
}


h1 {
    color: #1c71d8;
    text-align: center;
  }

h3 {
  color: #ff3333;
  text-align: left;
}


p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: #cc66ff;
  }

.aboutus {
  width: 45px;
  height: 43px;
  top: 5px; 
}

.home {
  width: 60px;
  height: 60px;
}

.aboutme {
  font-family: cursive;
 color: #d33cb7;
}